html {
	scroll-behavior: smooth; /*safari not supported*/
}

body {
	margin: 0;
    height: 3500px;
    background-color: #6e7c83;
}

.container{
	width: 100%;
	max-width: 800px;
	margin:  auto;
	border:  solid gold 1px;
	box-shadow: 0px 0px 4px 2px #232323;
}

.nav {
	height: 40px;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-around;
	background-color: black;
	border-bottom: solid #e91e63 2px;
}

.link {
	padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
	font-size: 18px;
    text-decoration: none;
    color:white;
    transition: all 0.5s;
}

/* Style the active class, and buttons on mouse-over */
.active,.link:hover {
	background-color: #e91e63;
}

section {
	margin: 20px;
    scroll-margin: 50px; /*scroll margin cause height navBar*/
	height: 500px;
	border: solid teal;
    border-radius: 5px;
	background-color: #ffc107;
    box-shadow: 3px 3px 4px 2px #232323;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

section:nth-child(odd) {
	background-color: #8bc34a;
}


